
.footer{
    background-color: #ff1b72;
    height: 360px;
    display: block;
}

.footer img{
    width: 55px;
}

.footer p{
    background-color:  rgb(255, 190, 69); 
    color: rgb(209, 33, 62);
    margin-left: 40px;
    border-radius: 40px;
    padding: 6px;
    width: 320px;
    margin-left: 50px;
    font-size: 20px;
    padding: 25px;
    cursor: pointer;

}

.footer .navFooter{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #ff1b72;
    color: white;
    font-size: 25px;
}

.footer .navFooter span{
    color: white;
    font-size: 15px;
}

.footer .navFooter .footerimg1{
    width: 170px;
}

.footer .navFooter .footerimg2{
    width: 90px;
    margin-right: 60px;
}

hr{
    width: 95%;
    margin-left: 50%;
    transform: translateX(-50%);
}