header{
    width: 100%;
    height: 110px; /*110px*/
    background-color: #f5337c;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

header span{
    color: white;
    cursor: pointer;
}

header .imgHeaderLogo img{
    width: 60px;
    cursor: pointer;
}


header .navHeader span{
    font-size: 13px;
    margin-left: 10px;
    transition: .3s;
}

header .navHeader span:hover{
    color: rgba(255, 255, 0, 0.774);
}

header .imgHeader2{
    cursor: pointer;
    transition: .9s;
}

header .localizacao{
    font-size: 17px;
    cursor: pointer;
}

header .sign{
    font-size: 16px;
    background-color: white;
    color: #f5337c;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
}

header .imgHeader2:hover{
    transform: scale(1.10);
}

header button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

header button:hover{
    color: rgba(255, 255, 0, 0.774);
}

/*
<header className="cabeçalho">
        <div className="imgHeaderLogo">
            <span><img src={Logo} alt="logoGelaBoca" /></span>
        </div>

        <div className="navHeader">
           
          <Link to="/"><span>Sobre</span></Link>  
            <span>Nosso Sorvete</span>
            <span>Blog</span>
           <Link to="/Contato"><span>Fale conosco</span></Link> 

        </div>

        <div className="imgHeader2">
           
        <img src={LogoM} alt="logoMomento2"/>
        </div>

        <div className="localizacao">
           <span>Encontre uma loja</span>
           
        </div>

        <div className="sign">
            <strong>seja um franqueado</strong>
        </div>
    </header>*/